<a href="/flights">All Flights &nbsp;</a>|
<a href="/">Home</a>

<section id="show-page">
  <ul>
    <li>Airline: <%= flight.airline %></li>
    <li>Airport: <%= flight.airport %></li>
    <li>Flight: <%= flight.flightNo %></li>
    <li>Departs: <%= flight.departs %></li>
  </ul>
</section>
<br /><br />

<form method="POST" action="/flights/<%= flight._id %>/destinations">
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="date" name="arrival" />
  <input type="submit" />
</form>

<% flight.destinations.forEach(function(d){ %>
<table>
  <td><p><%= d.arrival.toLocaleString() %></p></td>
  <td><p><%= d.airport %></p></td>
</table>
<% }) %>
